  * {
      box-sizing: border-box;
    }
  html {
    scroll-padding-top: 70px; /* 固定ヘッダの高さ分 */
  }
  
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    background-color: #857BA8;
  }
  
  a {
    text-decoration: none;
  }

  p,li,h4,h3 {
    color: #1E1C26;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    padding:0 auto;
    margin: 0 15px;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(img/EveningView.png);
    background-position: center;
    background-size: cover;
    /* color: white; */
    text-align: center;
    border-radius:0 0 10px 10px;
  }
  
  .top-wrapper h1 {
    color: white;
    opacity: 1;
    font-size: 45px;
    letter-spacing: 5px;
  }

  .top-wrapper img {
    height: 80px;
    padding: 5px;
    width:auto;
    background-color: rgba(239, 231, 231, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
  }
  
  .top-wrapper p {
    opacity: 0.7;
  }

  h2 {
    padding: 1rem 3rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#72A893), to(#A8A26A));
    background-image: -webkit-linear-gradient(left, #72A893 0%, #A8A26A 100%);
    background-image: linear-gradient(to right, #72A893 0%, #A8A26A 100%);
  }
  
  h3 {
    padding-left: 1rem;
    margin: 1rem 1rem;
    border-left: 6px double #000;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 8px 24px;
    margin: 10px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }

  .btnce {
    margin: 0.7rem auto;
    display:inline-block;
    text-align:center;
    width:100%;
  }

  a.btnn {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    position: relative;
    display: inline-block;
    padding: 0.6rem 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
  }

  a.btn-flat {
  overflow: hidden;

  padding: 1rem 3rem;

  color: #fff;
  border-radius: 0;
  background: #000;
  }
  
  a.btn-flat span {
    position: relative;
  }
  
  a.btn-flat:before {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100px;
    height: 100px;
  
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-80%) translateY(-25px);
    transform: translateX(-80%) translateY(-25px);
  
    border-radius: 50%;
    /* background: #eb6100; */
    mix-blend-mode:lighten;
  }
  
  .btngit:before {
    background: #4183c4;
  }
  .btntwi:before {
    background: #1DA1F2;
  }
  .btnfac:before {
    background: #1877f2;
  }
  .btnqii:before {
    background: #55C500;
  }

  
  a.btn-flat:hover:before {
    width: 400px;
    height: 400px;
  
    -webkit-transform: translateX(-1%) translateY(-175px);
  
    transform: translateX(-1%) translateY(-175px);
  }

  .btn:hover {
    opacity: 1;
  }

  .fa {
    margin-right: 5px;
  }

  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .forClear{
    clear: both;
  }
  
  .logo {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  .header-left p {
    line-height: 65px;
    padding: 0 25px;
    display: block;
    float: left;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* displayをnoneに指定してください */
    display:none;  
  }
  .detail-wrapper{
    padding-bottom: 2erm;
  }
  .detail-wrapper a{
    text-decoration: underline;
    padding-right: 1rem;
    /* text-align: right */
    float: right;
  }

  .blender-if-wrapper iframe{
    width : 640px;
    height: 480px;
  }

   .cluster-list img{
    max-width : 640px;
    height: auto;
  }

  .linebot-list img{
    max-width : 640px;
    height: auto;
  } 

  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: #f7f7f7; */
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 10px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .ue4 {
    float: left;
    width: 33%;
  }
  
  .ue4-fireworks iframe{
    min-width: 300px;
    width: 80%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    height: auto;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #1E1C26;
  }
  
  .heading h3 {

    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  footer img {
    color: #b3aeb5;
  }
  
  footer a {
    color: #b3aeb5;
  }
  
  footer {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #5B5473;
    font-size: 19px;
  }
  .contents {
    max-width: 1080px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .qiiicon{
    
    height: 1rem;
    width: auto;
    filter: invert(100%);
  }

  .fooico{
    height: 17.5px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    top:-50%;
    filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
    /* #b3aeb5 */
  }
  .fooico::after{
    content: '';

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    background-color: blue;
    /* #b3aeb5 */
    opacity: 0.5;

  }
  
  .li-left {
    float: left;
  }
  .li-right {
    float: right;
  }

  .skill-container ul {
    list-style: none;
  }

  .skill-list {
    width: 40%;
    margin: 5px 5% ;
  }
  .skill-list h4 {
    display: inline-block;
    padding: 5px 10px 1px 10px;
    background: #130714;
    color: rgb(236, 236, 236);
    letter-spacing: 0.1em;
    font-weight: bold;
    margin: 0;
    font-size: 1.3em;
  }
  .li-left ul,.li-right ul {
    margin: 0;
    padding: 5px;
    position: relative;
    border: dashed 2px #130714;
  }
  .skill-list ol {
    counter-reset: number;
  }
  .skill-list ul li,.skill-list ol li {
    color: #130714;
    line-height: 1.5;
    padding: 0.5em 0.5em 0.5em 1.8em;
    list-style-type: none;
    font-weight: bold;
  }
  .skill-list ul li:before {
    font-family: FontAwesome;
    content: "\f14a";
    position: absolute;
    left : 0.5em;
    color: #130714;
  }
  .skill-list ol li:before {
    display: inline-block;
    position: absolute;
    left: 0.5em;
    width: 22px;
    height: 22px;
    border-radius: 20%;
    background: #130714;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
    content: counter(number);
    counter-increment: number;
  }
  .detail-yamate img{
    border-radius: 1em;
    width: 10em;
    /* height: 100%; */
    float:left;
    margin: 0 3em 0 1em;
  }

  .detail-yamate a{
    float: none;
  }

  .houdouroom p{
    margin:10em 3em;
    float:left;
    width:50%;
    border: solid #4A4A4A 3px;
    padding: 1em;
  }
  
  .tweet-houdou {
    float:left;
  }
