/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
    .ue4 {
      width: 100%;
      margin-bottom: 50px;
    }
    img{
      width: 100%;
    }
    .sketchfab-embed-wrapper iframe{
      width: 80%;
      height: auto;
    }

    .blender-if-wrapper {
      position: relative;
      width: 80%;
    }
    .blender-if-wrapper:before {
      content:"";
      display: block;
      padding-top: 45%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
    }
   .blender-if {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    footer {
      text-align: center;
    }
  
    .top-wrapper h1 {
      font-size: 32px;
    }
  
    .heading h2 {
      font-size: 20px;
    }
  }
  
  /* スマホ向けレイアウト */
  @media all and (max-width: 670px) {
    .ue4 {
      width: 100%;
    }
  
    
  
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: left;
    }
  
    /* header-rightクラスのdisplayをnoneに指定してください */
    .header-right{
      display:none;
    }
    
    /* menu-iconクラスのdisplayをblockに指定してください  */
    .menu-icon{
      display:block;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
    }
  
    .top-wrapper p {
      font-size: 14px;
    }
  }