  * {
      box-sizing: border-box;
    }
  
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    background-color: #857BA8;
  }
  
  a {
    text-decoration: none;
  }

  p,li,h4,h3 {
    color: #1E1C26;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(img/EveningView.jpg);
    background-position: center;
    background-size: cover;
    /* color: white; */
    text-align: center;
    border-radius: 0 10px;
  }
  
  .top-wrapper h1 {
    color: white;
    opacity: 1;
    font-size: 45px;
    letter-spacing: 5px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
  }

  h2 {
    padding: 1rem 3rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#72A893), to(#A8A26A));
    background-image: -webkit-linear-gradient(left, #72A893 0%, #A8A26A 100%);
    background-image: linear-gradient(to right, #72A893 0%, #A8A26A 100%);
  }
  
  h3 {
    padding-left: 1rem;
    margin: 1rem 1rem;
    border-left: 6px double #000;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 8px 24px;
    margin: 10px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }

  .btnce {
    margin: 0.7rem auto;
    display:inline-block;
    text-align:center;
    width:100%;
  }

  a.btnn {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    position: relative;
    display: inline-block;
    padding: 0.6rem 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
  }

  a.btn-flat {
  overflow: hidden;

  padding: 1rem 3rem;

  color: #fff;
  border-radius: 0;
  background: #000;
  }
  /* .btngit:before {
    background: #4183c4;
  }
  .btntwi:before {
    background: #1DA1F2;
  }
  .btnfac:before {
    background: #1877f2;
  } */
  
  a.btn-flat span {
    position: relative;
  }
  
  a.btn-flat:before {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100px;
    height: 100px;
  
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-80%) translateY(-25px);
    transform: translateX(-80%) translateY(-25px);
  
    border-radius: 50%;
    background: #eb6100;
  }
  
  a.btn-flat:hover:before {
    width: 400px;
    height: 400px;
  
    -webkit-transform: translateX(-1%) translateY(-175px);
  
    transform: translateX(-1%) translateY(-175px);
  }
  


  .btn:hover {
    opacity: 1;
  }


  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .forClear{
    clear: both;
  }
  
  .logo {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  .header-left p {
    line-height: 65px;
    padding: 0 25px;
    display: block;
    float: left;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* displayをnoneに指定してください */
    display:none;  
  }
  .detail-wrapper{
    padding-bottom: 2erm;
  }
  .detail-wrapper a{
    text-decoration: underline;
    padding-right: 1rem;
    /* text-align: right */
    float: right;
  }

  .blender-if-wrapper iframe{
    width : 640px;
    height: 480px;
  }

  .cluster-list img{
    width : 640px;
    height: auto;
  }

  .linebot-list img{
    width : 640px;
    height: auto;
  }

  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: #f7f7f7; */
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 10px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .ue4 {
    float: left;
    width: 33%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #1E1C26;
  }
  
  .heading h3 {

    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer a {
    color: #b3aeb5;
  }
  
  footer {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #5B5473;
    font-size: 19px;
  }