header{
  width: 100%;
  height: 10%;
  display: block;
  box-sizing: border-box;
  background-color: black;
  z-index: 100;
  left:0;
  top:0;
}
body{
  margin: 0px;
}
header img{
  width: 155px;
  margin: 10px;
}
.-img{
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.-img img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.-img-aft{
  position: relative;
}
.-img-aft img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}